<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <form method="POST" action="/new">
        <h1>New Message:</h1>
        <label for="name">
            Your name: <input type="text" name="name">
        </label>
        <label for="message">
            Message: <input type="textarea" name="message">
        </label>
        <button type="submit">submit</button>
</body>
</html>
</form>