<div class="message-container">
    <div class="date">
        <% let date = message.added.toLocaleString() %>
        <%= date %>
    </div>
    <div class="user">
        <%= message.user %>
    </div>
    <div class="text">
        <%= message.text %>
    </div>
</div>