<div class="message-container">

    <div class="user">
        <%= message.user %> <span class="at">@</span> <span class="date">
                <% let date=message.added.toLocaleString() %>
                    <%= date %>
            </span>
    </div>
    <div class="text">
        <%= message.text %>
    </div>
</div>